<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeywell.homepanel"
    android:sharedUserId="android.uid.system">

    <!-- android:sharedUserId="android.uid.system" -->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.SET_TIME" />

    <application
        android:name=".ui.uicomponent.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/homepanel"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ScenarioSelectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activities.ArmAbnormalPopupWindow"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activities.ZoneDelayTimeSelectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activities.ScenarioSelectHintActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.IpDcViewActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.AlarmZoneActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CamerasActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CamerasFullActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.RelayActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.SaveSpeedDialActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.IndicatorBoardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activities.NotificationNotifyPageMore"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.NotificationVideoMsgBoard"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.WifiConnectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.WiFiConfigurationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.WifiInfoConnectedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.WiFiConfigurationOldActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.WiFiManuanyConfigure"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.EngineeringModeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.SetEnginModeCodeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activities.ChangeEngineeringCodeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.DateTimeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.AdvancedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CardManagementActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.AddCardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activities.ConfigPermanentActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ConfigTemoraryActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.SetTimeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activities.SetDateActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activities.PasswdChangeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.NewPasswdActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.NetworkSettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.NetworkSettingDHCPActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ZoneConfigurationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ElevatorSettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.RelayConfigActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ExtensionZoneActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.IPSubphoneSetActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.IPCameraSettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.DoorLockSettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.LocalZoneActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.EnginModeOptionsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activities.SettingBrightVolumeAdjustment"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.RelayDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.EnginModeOptsKeypadActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ZoneConfigDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.IPCameraConfigurationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.IPAddressConfigActivity"
            android:label="@string/title_activity_set_date"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.ScreensaverTextClockActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.Screensaverwallpaper"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CleaningActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CallFailedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.SubPhoneConfigActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.NotificationPasswdActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.HoneywellHomeUnbinding"
            android:launchMode="singleInstance"
            android:process="@string/cloudservice"
            android:screenOrientation="landscape"
            android:taskAffinity="@string/bindtask"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.HoneywellHomeBinding"
            android:launchMode="singleInstance"
            android:process="@string/cloudservice"
            android:screenOrientation="landscape"
            android:taskAffinity="@string/bindtask"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.DeviceBindActivity"
            android:label="@string/title_activity_device_bind"
            android:launchMode="singleInstance"
            android:process="@string/cloudservice"
            android:taskAffinity="@string/bindtask"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ui.activities.HoneywellHomePasswordEnterActivity"
            android:launchMode="singleInstance"
            android:process="@string/cloudservice"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.PasswordEnterActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.LocationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />


        <activity
            android:name=".ui.activities.AboutTunaActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />

        <service
            android:name=".call.CallService"
            android:exported="false"
            android:process="@string/callfsm">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.call.CallService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".cloud.CloudConnService"
            android:exported="false"
            android:process="@string/cloudservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.cloud.CloudConnService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".community.CommunityService"
            android:exported="false"
            android:process="@string/communityservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.community.CommunityService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".configcenter.ConfigService"
            android:process="@string/configservice">
            <intent-filter>
                <action android:name="com.honeywell.homepanel.configcenter.ConfigService" />
            </intent-filter>
        </service>
        <service
            android:name=".control.ControlService"
            android:exported="false"
            android:process="@string/controlservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.control.ControlService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".deviceadapter.DeviceAdapterService"
            android:exported="false"
            android:process="@string/devicemanage">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.deviceadapter.DeviceManageService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.IPCService"
            android:exported="false"
            android:process="@string/ipcservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.ipc.IPCService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".ipdc.IPDCService"
            android:exported="false"
            android:process="@string/ipdcservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.ipdc.IPDCService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".logserver.LogService"
            android:exported="false"
            android:process="@string/logservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.logserver.LogService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".pbx.PBXService"
            android:process="@string/pbxservice">
            <intent-filter>
                <action android:name="com.honeywell.homepanel.pbx.PBXService" />
            </intent-filter>
        </service>
        <service
            android:name=".subphoneservice.SubphoneClient.SubPhoneClientService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.subphoneservice.SubPhoneClientService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".subphoneservice.SubphoneServer.SubPhoneServerService"
            android:exported="false"
            android:process="@string/subphoneserver">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.subphoneservice.SubPhoneServerService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".subphoneuiservice.SubPhoneUIService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.subphoneuiservice.SubPhoneUIService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".upgrade.upgrader.UpgraderService"
            android:exported="false"
            android:process="@string/upgrade">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.upgrade.UpgradeService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".watchdog.WatchDogService"
            android:exported="true"
            android:process="@string/watchdog">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.watchdog.WatchDogService"
                    android:exported="true" />
            </intent-filter>
        </service>
        <service
            android:name=".avrtp.AvRtp"
            android:exported="false"
            android:process=":avrtp">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.avrtp.AvRtp"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".sensingservice.SensingService"
            android:exported="false"
            android:process="@string/security">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.security.SecurityService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".miscservices.discovery.DiscoveryService"
            android:exported="false"
            android:process=":miscservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.miscservice.discovery.DiscoveryService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".miscservices.logcat.LogCaptureService"
            android:exported="false"
            android:process=":miscservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.miscservice.LogHelper.LogCaptureService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".upgrade.subupgrader.SubupgraderService"
            android:exported="false"
            android:process=":subupgrader">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.upgrade.subupgrader.SubupgraderService"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service android:name=".ui.services.WidgetInfoService" />
        <service android:name=".ui.services.NotificationService" />

        <receiver android:name=".ui.uicomponent.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.commondata.WiFiConnectedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".upgrade.subupgrader.StorageVolumeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="design_width"
            android:value="1024" />
        <meta-data
            android:name="design_height"
            android:value="600" />

        <activity
            android:name=".ui.activities.ActivityInputBox"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>