<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honeywell.homepanel">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/homepanel"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.notAnimation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ScenarioSelectActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
	    <activity
        android:name=".ui.activities.PasswordEnterActivity"
        android:theme="@style/Theme.notAnimation"
        android:launchMode="singleInstance"
        android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.activities.ScenarioSelectHintActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.CallActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.AlarmZoneActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.activities.CamerasActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.activities.CamerasFullActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.activities.SaveSpeedDialActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation">
        </activity>
        <activity
            android:name=".ui.activities.IndicatorBoardActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.NotificationNotifyPageMore"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.NotificationVideoMsgBoard"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.EngineeringModeActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.activities.WifiConfigureActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.LocationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.DateTimeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.AdvancedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.CardManagementActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.AddCardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ConfigPermanentActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.ConfigTemoraryActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.SetTimeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.SetDateActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.PasswdChangeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.NewPasswdActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />
        <activity
            android:name=".ui.activities.WifiConnectActivity"
            android:label="@string/title_activity_set_date"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notAnimation" />

        <activity
            android:name=".ui.activities.NetworkSettingActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.ZoneConfigurationActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.ElevatorSettingActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.RelayConfigActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.ExtensionZoneActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.IPSubphoneSetActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.IPCameraSettingActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.DoorLockSettingActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.LocalZoneActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.EnginModeOptionsActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.SettingBrightVolumeAdjustment"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.RelayDetailActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ui.activities.EnginModeOptsKeypadActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.ZoneConfigDetailActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.IPCameraConfigurationActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.IPAddressConfigActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.ScreensaverTextClockActivity"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.activities.Screensaverwallpaper"
            android:theme="@style/Theme.notAnimation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>

        <service
            android:name="com.honeywell.homepanel.call.CallService"
            android:exported="false"
            android:process="@string/callfsm">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.call.CallService"
                    android:exported="false">
                </action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.cloud.CloudConnService"
            android:exported="false"
            android:process="@string/cloudservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.cloud.CloudConnService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.community.CommunityService"
            android:exported="false"
            android:process="@string/communityservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.community.CommunityService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.configcenter.ConfigService"
            android:process="@string/configservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.configcenter.ConfigService">
                </action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.control.ControlService"
            android:exported="false"
            android:process="@string/controlservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.control.ControlService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.deviceadapter.DeviceManageService"
            android:exported="false"
            android:process="@string/devicemanage">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.deviceadapter.DeviceManageService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.ipc.IPCService"
            android:exported="false"
            android:process="@string/ipcservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.ipc.IPCService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.ipdc.IPDCService"
            android:exported="false"
            android:process="@string/ipdcservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.ipdc.IPDCService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.logserver.LogService"
            android:exported="false"
            android:process="@string/logservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.logserver.LogService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.pbx.PBXService"
            android:exported="false"
            android:process="@string/pbxservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.pbx.PBXService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.security.SecurityService"
            android:exported="false"
            android:process="@string/security">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.security.SecurityService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.sip.SipService"
            android:exported="false"
            android:process="@string/sipservice">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.sip.SipService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.subphoneservice.SubphoneClient.SubPhoneClientService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.subphoneservice.SubPhoneClientService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.subphoneservice.SubphoneServer.SubPhoneServerService"
            android:exported="false"
            android:process="@string/subphoneserver">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.subphoneservice.SubPhoneServerService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.subphoneuiservice.SubPhoneUIService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.subphoneuiservice.SubPhoneUIService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.upgrade.UpgradeService"
            android:exported="false"
            android:process="@string/upgrade">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.upgrade.UpgradeService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.watchdog.WatchDogService"
            android:exported="false"
            android:process="@string/watchdog">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.watchdog.WatchDogService"
                    android:exported="false"></action>
            </intent-filter>
        </service>
        <service
            android:name="com.honeywell.homepanel.avrtp.AvRtp"
            android:exported="false"
            android:process=":avrtp">
            <intent-filter>
                <action
                    android:name="com.honeywell.homepanel.avrtp.AvRtp"
                    android:exported="false"></action>
            </intent-filter>
        </service>
    </application>

</manifest>